page-page-two {
    font-size: 12px;
    ion-header{
         ion-navbar{
            padding: 0!important;
            margin:0!important ;
            img{
                height: 179px;
            }
         } 
    }
    ion-content{
        background-color: #ccc6c6;
        .bot{
            background-color: #b94848;
            margin-top: -20px;
            padding: 0!important;
            li{
                float: left;
                width: 49%;
                height: 98px;
                text-align: center;
                line-height: 85px;
                margin-right: 3px;
                margin-bottom: 3px;
                background-color: #f7f1f1;
               
                ion-icon{
                    font-size: 40px;
                    padding: 0!important;
                }
                p{
                    position: relative;
                    top:-75px;
                }
            }
        }
        .middle{
            height: 100px;
            padding: 0!important;
            margin-top:-30px ;
            .first{
                background-color: #ffdb2c;
            }
            li{
                float: left;
                width: 33.3%;
                height: 85px;
                text-align: center;
                line-height: 85px;
                ion-icon{
                    font-size: 40px;
                    padding: 0!important;
                }
                p{
                    position: relative;
                    top:-78px;
                }
            }
        }
        ion-list{
            ion-item{
                .font{
                    color:gray;
                }
            }
        }
    }        
}
