<div id="center">
    <div id="left">
      <div>
        <a><img src="assets/images/love.jpg" id="zty"></a>
      <div>5-zty</div>
      <div>
          <a></a><span>粉丝</span><a><span>0</span></a>
          <a></a><span>关注</span><a><span>0</span></a>
      </div>
      </div>
      <div><a>任务</a></div>
      <div><a>同步课</a></div>
      <div><a>课程</a></div>
      <div><a>且说</a></div>
      <div><a>通知</a></div>
    </div>
    <div id="right">
      <router-outlet></router-outlet>
      <ul>
        <li><a>未提交</a><span>0</span></li>
        <li><a>已完成</a><span>0</span></li>
        <li><a>已完结</a><span>0</span></li>
        <li>
            <input autocomplete="off" placeholder="输入同步课名称搜索"/>
            <button type="button" value="搜索">搜索</button>
        </li>
      </ul>
    <div id="neirong">
        <router-outlet></router-outlet>
    </div>
    </div>
</div>
